.previewShadow {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1001;
    opacity: 0.4;
    background-color: #000;
}

.previewModal {
    position: absolute;
    top: 20px;
    z-index: 1002;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 3px 3px #666;
    background-color: #fff;
}

.previewContent {
    overflow: auto;
    padding: 0px 5px;
}

.previewCloseBtn {
    position: absolute;
    top: -17px;
    right: -17px;
    cursor: pointer;
}
